node_modules
npm-debug.log
.git
.gitignore
README.md
.env
.nyc_output
coverage
.env.local
.env.development.local
.env.test.local
.env.production.local
.DS_Store
*.log
logs
*.tgz
.npm
.eslintcache
.vscode
.idea
*.swp
*.swo
*~
Dockerfile
.dockerignore
